<div class="body">
	<div class="container">
		<div class="row">
			<div class="col-lg-6 col-lg-offset-3">
				<h2>ECL</h2>
			  <table>

			  	<thead>ユーザー情報編集</thead>
			  	<tbody>

				<%= form_for @user,:url => {:action => :update} do |f| %>
				<tr>
				<div class="form-group has-icon">
					  <%= f.label :family_name, "姓" %><br>
					  <%= f.text_field :family_name, class: "family_name", autofocus: true, autocomplete: "family_name" %>
				</div>
				  <div>
				  	  <%= f.label :first_name,"名" %><br>
				  	  <%= f.text_field :first_name, class: "first_name", autocomplete: "first_name" %>
				  </div>
			    </tr>
			    <tr>
			    	<div>
			    	  <%= f.label :kana_family_name,"セイ" %><br>
			    	  <%= f.text_field :kana_family_name, class: "kana_family_name", autocomplete: "kana_family_name" %>
			        </div>
			        <div>
			          <%= f.label :kana_first_name,"メイ" %><br>
			          <%= f.text_field :kana_first_name, class: "kana_first_name", autocomplete: "kana_first_name" %>
			        </div>
			    </tr>
			    <%= f.fields_for :addresses do |address| %>
			    <tr>
			    	<div class="field">
                        <%= address.label "郵便番号（ハイフンなし）" %><br>
                        <%= address.text_field :post_number, class: "post_number", autocomplete: "post_number" %>
			    	</div>
			    </tr>
			    <tr>
			    	<div>
			    		<%= address.label "住所" %><%= link_to "住所追加",new_users_address_path,class: "col-lg-3 btn btn-default" %><br>
			    		<div class="form-group"><label for="artist_name"></label><br><%= f.select :address_id, Address.all.map{|t| [t.address, t.id]} %></div>
			    		<%= address.text_field :address, class: "address", autocomplete: "address" %>
			    	</div>
			    </tr>
			    <% end %>
			    <tr>
			    	<div>
			    		<%= f.label :phone_number, "電話番号（ハイフンなし）" %><br>
			    		<%= f.number_field :phone_number, class: "phone_number", autocomplete: "phone_number" %>
			    	</div>
			    </tr>
			    <tr>
			    	<div>
			    		<%= f.label :email,"メールアドレス" %><br>
			    		<%= f.email_field :email, class: "email", autocomplete: "email" %>
			    	</div>
			    </tr>
			    <tr>
			    	<div>
			    		<%= f.label :encrypted_password,"新規パスワード" %><br>
			    		<%= f.password_field :encrypted_password, class: "encrypted_password", autocomplete: "encrypted_password" %>
			    	</div>
			    </tr>
			    <tr>
			    	<div>
			    		<%= f.label :password_confirmation,"パスワード確認" %><br>
			    		<%= f.password_field :password_confirmation, class: "password_confirm", autocomplete: "new_password" %>
			    	</div>
			    </tr>
			</tbody>
			         <div class="actions">
			         	<%= f.submit "編集する" %>
			         </div>
				<% end %>
			  </table>>
			</div>
		</div>



</div>