<div class="container">

    <div class="row">

      <div class="col-lg-3">
        <table class="table table-stryped">
          <thead>
             <h2>User info</h2>
          </thead>

             <tbody>
            <tr>
              <th><%= @user.kana_family_name %>
              <%= @user.kana_first_name %></th>
            </tr>
            <tr>
              <th><%= @user.family_name %>
              <%= @user.first_name %></th>
            </tr>
            <tr>
              <td>
                <% @user.addresses.each do |address| %>
                <%= address.address %><br><br>
                <% end %>
              </td>            </tr>
            <tr>
              <td><%= @user.phone_number %></td>
            </tr>
            <tr>
              <td><%= @user.email %></td>
            </tr>
           </tbody>
        </table>

        <%= link_to "編集する",edit_users_user_path(current_user),class: "col-lg-12 btn btn-default" %>
      </div>
      <div class="col-lg-9">
        <table class="table table-stryped">
          <thead>
            <h2>購入履歴</h2>
            <%= flash[:notice] %>
          </thead>

          <tbody>
            <% @orders.each do |order| %>
            <tr>
              <th>
                <%= order[:created_at].strftime("%Y-%m-%d　%H:%M")  %>
              </th>
              <th>
                <%= order.delivery_status %>
              </th>
            </tr>
            <tr>
              <td>
               配送先<br>
                <%= order.address %>
              </td>
              <td>支払い:<%= order.payment_method %><br>
                合計金額(税込　送料別):￥ <%= number_with_delimiter(order.total_price.round).to_s %><br>
                別途送料:￥ <%= order.shipping_fee %><br>
                お支払い額(税、送料込):￥<%= number_with_delimiter(order.amount.round).to_s %>円
              </td>
            </tr>
            <tr>
                <% order.order_items.each do |order_item| %>
              <td>
                <%= order_item.item.product_name  %>
              </td>

              <% sub_total = ((order_item.price.to_i * order_item.sheet.to_i)*1.08).round %>
               <td>
                 <%= number_with_delimiter((order_item.price*1.08).round).to_s%> × <%= order_item.sheet %> = <%= number_with_delimiter((order_item.price*1.08*order_item.sheet).round).to_s %>(税込)<br>
                </td>
                <td></td>
            </tr>


           <% end %>
                       <tr><td><td><br><br></td></td></tr>
           <% end %>
            <%= paginate @orders %>
            <br><br>
          </tbody>
        </table>
      </div>
    </div>
  </div>



