<div class="container">

    <div class="row">

      <div class="col-lg-3">
        <table rules="none", border="1">
          <thead>
             <h2>User info</h2>
          </thead>

             <tbody>
            <tr>
              <td><h4><%= @user.kana_family_name %></h4></td>
              <td><h4><%= @user.kana_first_name %></h4></td>
            </tr>
            <tr>
              <td><h4><%= @user.family_name %></h4></td>
              <td><h4><%= @user.first_name %></h4></td>
            </tr>
            <tr>
              <td><h4>〒<%= @user.post_number %></h4></td>
            </tr>
            <tr>
              <td><h4><%= @user.address %></h4></td>
            </tr>
            <tr>
              <td><h4><%= @user.phone_number %></h4></td>
            </tr>
            <tr>
              <td><h4><%= @user.email %></h4></td>
            </tr>
           </tbody>
        </table>

        <%= link_to "編集する",edit_users_user(@user.id),class: "col-lg-3 btn btn-default" %>
      </div>
      <div class="col-lg-9">
        <table rules="none", border="1">
          <thead>
            <h2>購入履歴</h2>
          </thead>

          <tbody>
            <%= @order.each do |order| %>
            <tr>
              <th>
                <%= order.created_at %>
              </th>
              <th>
                <%= f.select :delivery_status, Order.delivery_status.keys.to_a,{} %>
                <% end %>
              </th>
            </tr>
            <tr>
              <td>
               〒<%= order.post_number %><br>
                <%= order.address %>
              </td>
              <td>
                支払い:<%= order.payment_method %><br>
　　　　　　　　　　合計金額:<%= order.total_price %>￥<br>
                別途送料:<%= order.shipping_fee %>￥
              </td>
            </tr>
            <tr>
              <td>
                <%= order_items.item_id(.id) %>
              </td>
               <td>
                <%= order_items.price %>×<%= order_items.sheet %>=<%= order.amount %>(税込)
              </td>
            </tr>
            <% end %>
            <%= paginate @order %>
          </tbody>
        </table>
      </div>
    </div>
  </div>



