<div class="container">

    <div class="row">

      <div class="col-lg-3">
        <table class="table table-stryped">
          <thead>
             <h2>User info</h2>
          </thead>

             <tbody>
            <tr>
              <td><%= @user.kana_family_name %></td>
              <td><%= @user.kana_first_name %></td>
            </tr>
            <tr>
              <td><%= @user.family_name %></td>
              <td><%= @user.first_name %></td>
            </tr>
            <tr>
              <td>〒<%= @user.addresses.first.post_number %></td>
              <td></td>
            </tr>
            <tr>
              <td><%= @user.addresses.first.address %></td>
              <td></td>
            </tr>
            <tr>
              <td><%= @user.phone_number %></td>
              <td></td>
            </tr>
            <tr>
              <td><%= @user.email %></td>
              <td></td>
            </tr>
           </tbody>
        </table>

        <%= link_to "編集する",edit_users_user_path(current_user),class: "col-lg-12 btn btn-default" %>
      </div>
      <div class="col-lg-9">
        <table class="table table-stryped">
          <thead>
            <h2>購入履歴</h2>
            <%= flash[:notice] %>
          </thead>

          <tbody>
            <% @orders.each do |order| %>
            <tr>
              <th>
                <%= order.created_at %>
              </th>
              <th>
                <%= order.delivery_status %>
              </th>
            </tr>
            <tr>
              <td>
               〒<%= order.post_number %><br>
                <%= order.address %>
              </td>
              <td>
                支払い:<%= order.payment_method %><br>
　　　　　　　　　　合計金額:<%= order.total_price %>￥<br>
                別途送料:<%= order.shipping_fee %>￥
              </td>
            </tr>
            <tr>
              <% order.order_items.each do |order_item| %>
              <td>
             <%#<%= order_item.item.product_name  %>
            
              </td>
               <td>
                <%= order_item.price %> × <%= order_item.sheet %> = <%= order_item.price*order_item.sheet %>(税込)
              </td>
            </tr>
           <% end %>
           <% end %>
            <%= paginate @orders %>

          </tbody>
        </table>
      </div>
    </div>
  </div>



