
<%= nested_form_for(@item, url:admins_items_path) do |f| %>
<div id="awesome_admin_layout">
  <main class="awesome_admin_layout-main">
<div class="awesome_admin_layout-navigation-toggle"> <i class="fa fa-bars"></i> </div>
    <div id="wrapper" class=" ">
      <main class="container-fluid">
        <div class="comable-page">
            <div class="comable-page-heading">
              <ul class="pull-right list-inline">
                <li><%= f.submit "保存する", class:"btn btn-primary" %></li>
              </ul>
              <h1 class="page-header">
                <ol class="breadcrumb">
                  <li><a href="/admins/items">商品管理</a></li>
                  <li class="active">新規作成</li>
                </ol>
              </h1>
            </div>
          <div class="comable-page-body">
          <fieldset>
            <div class="col-md-3">
              <legend>一般</legend>
              <div class="help-block"></div>
            </div>
            <div class="col-md-9">
              <%= link_to "アーティスト追加",new_admins_artist_path,class: "col-lg-3 btn btn-default" %>
              <%= link_to "ジャンル追加",new_admins_genre_path,class: "col-lg-3 btn btn-default" %>
              <%= link_to "レーベル追加",new_admins_label_path,class: "col-lg-3 btn btn-default" %>
              <div class="form-group">
                <label for="product_name">商品名</label><br>
                <%= f.text_field :product_name %>
              </div>
              <div class="form-group">
                <label for="artist_name">アーティスト名</label><br>
                <%= f.select :artist_id, Artist.all.map{|t| [t.artist_name, t.id]} %>
              </div>
              <div class="form-group">
                <label for="label_name">レーベル</label><br>
                <%= f.select :label_id, Label.all.map{|t| [t.label_name, t.id]} %>
              </div>
              <div class="form-group">
                <label for="genre_name">ジャンル</label><br>
                <%= f.select :genre_id, Genre.all.map{|t| [t.genre_name, t.id]} %>
              </div>
              <div class="form-group">
                <label for="price">価格 (税込)</label><br>
                <%= f.text_field :price %>
              </div>
                <div class="help-block">
                  価格は半角で入力してください。
                </div>
              <div class="form-group disc">
                <%= f.fields_for :discs do |f| %>
                <label for="disc">ディスク</label>
                <%= f.text_field :disc_name, {placeholder: "ディスクの名前"} %>
              </div>
              <%= f.link_to_remove "削除" %>
              <div class="form-group">
                <label for="song">収録曲</label>
                <%= f.fields_for :songs do |f| %>
                <%= f.text_field :song_name %>
                <%= f.link_to_remove "削除" %>
                <% end %>
                <%= f.link_to_add "曲を追加", :songs %>
              </div>
              <% end %>
              <%= f.link_to_add "ディスクを追加", :discs %>
            </div>
          </div>
          </fieldset>
          <hr>
          <fieldset>
            <div class="col-md-3">
              <legend>在庫</legend>
              <div class="help-block"></div>
            </div>
            <div class="col-md-9">
              <div class="form-group">
                <label for="stock_quantity">在庫</label><br>
                <%= f.text_field :stock_quantity %>
                <div class="help-block">在庫数は半角で入力してください。</div>
                <div class="help-block">販売停止の場合は下を編集してください。</div>
              </div>
              <div class="form-group">
                <label for="sales_status">販売ステータス</label><br>
                <%= f.select :sales_status, Item.sales_statuses.keys.to_a, {} %>
              </div>
            </div>
          </fieldset>
          <hr>
          <fieldset>
            <div class="col-md-3">
              <legend>画像</legend>
              <div class="help-block"></div>
            </div>
            <div class="col-md-9">
              <div class="row">
                <div class="col-md-6"><label>ジャケット画像</label>
                  <p><%= f.attachment_field :jacket_image %></p>
                </div>
              </div>
            </div>
          </fieldset>
          <% end %>
        </div>
      </div>
    </main>
  </div>
</main>
</div>




<script>

  $(document).on('nested:fieldAdded:discs', function(event){
    // this field was just inserted into your form
  var field = event.field; 
  // it's a jQuery object already! Now you can find date input
  var addField = field.find('.add_nested_fields');
  // and activate datepicker on it
  
  addField.click();
})
$(function() {
  
  function setFieldNum() {
      $('.disc').children('div.fields:visible').each(function(index) {
        $(this).find('.test').text($('.disc').children('div.fields:visible').index(this) + 1)
  });
  }
  
  $(document).on('nested:fieldAdded', function(e) {
    setFieldNum();
    var link = $(e.currentTarget.activeElement);
    if (!link.data('limit')) {
      return;
    }
    if (link.siblings('.fields:visible').length >= link.data('limit')) {
      link.hide();
    }
  });
 
  $(document).on('nested:fieldRemoved', function(e) {
    setFieldNum();
    var link = $(e.target).siblings('a.add_nested_fields');
    if (!link.data('limit')) {
      return;
    }
    if (link.siblings('.fields:visible').length < link.data('limit')) {
      link.show();
    }
  });
})
</script>