<%= nested_form_for(@item, url:admins_item_path(@item.id)) do |f| %>
  <div id="awesome_admin_layout">
  <main class="awesome_admin_layout-main">
    <div class="awesome_admin_layout-navigation-toggle"> <i class="fa fa-bars"></i> </div>
    <div id="wrapper" class=" ">
      <main class="container-fluid">
        <div class="comable-page">
            <div class="comable-page-heading">
              <ul class="pull-right list-inline">
                <li class="dropdown"><a class="btn btn-default" data-toggle="dropdown" href="#"><i class="fa fa-bars"></i></a>
                  <ul class="dropdown-menu dropdown-menu-right">
                    <li><a href="/products/4"><span class="fa fa-external-link"></span> この商品をフロントで確認する</a></li>
                  </ul>
                </li>
                <li><%= f.submit "保存する", class:"btn btn-primary" %></li>
              </ul>
              <h1 class="page-header">
                <ol class="breadcrumb">
                  <li><a href="/admins/items">商品管理</a></li>
                  <li class="active"><%= @item.product_name%></li>
                </ol>
              </h1>
            </div>
          <div class="comable-page-body">
          <fieldset>
            <div class="col-md-3">
              <legend>一般</legend>
              <div class="help-block"></div>
            </div>
            <div class="col-md-9">
              <div class="form-group"><label for="product_name">商品名</label><%= f.text_field :product_name %></div>
              <div class="form-group"><label for="artist_name">アーティスト名</label><%= f.select :artist_id, Artist.all.map{|t| [t.name, t.id]} %></div>
              <div class="form-group"><label for="label_name">レーベル</label><%= f.select :label_id, Label.all.map{|t| [t.name, t.id]} %></div>
              <div class="form-group"><label for="genre_name">ジャンル</label><%= f.select :genre_id, Genre.all.map{|t| [t.name, t.id]} %></div>
              <div class="form-group"><label for="price">価格</label><%= f.text_field :price %></div>
              <div class="form-group disc"><%= f.fields_for :discs do |f| %><label for="disc">ディスク</label><div class="test"></div><div class=""><%= f.text_field :disc_name %></div><%= f.link_to_remove "削除" %>
              <div class="form-group"><label for="song">収録曲</label><%= f.fields_for :songs do |f| %><%= f.text_field :song_name %><%= f.link_to_remove "削除" %><% end %><%= f.link_to_add "曲を追加", :songs %></div>
              <% end %><%= f.link_to_add "ディスクを追加", :discs %>
            </div>
          </div>
          </fieldset>
          <hr>
          <fieldset>
            <div class="col-md-3">
              <legend>在庫</legend>
              <div class="help-block"></div>
            </div>
            <div class="col-md-9">
              <div class="form-group"><label for="stock_quantity">在庫</label><%= f.text_field :stock_quantity %>
                <div class="help-block">販売停止の場合は下を編集してください。</div>
              </div>
              <div class="form-group"><label for="sales_status">販売ステータス</label><%= f.select :sales_status, Item.sales_statuses.keys.to_a, {} %>
              </div>
            </div>
          </fieldset>
          <hr>

    <fieldset>
      <div class="col-md-3">
        <legend>画像</legend>
        <div class="help-block"></div>
      </div>
      <div class="col-md-9">
        <div class="row">
          <div class="col-md-6"><label>メイン画像</label>
            <p><input accept="image/*" type="file" name="product[images_attributes][0][file]" id="product_images_attributes_0_file"></p>
            <div
              class="thumbnail"><img src="/image/5/leather_boots.jpg" alt="Leather boots"><label class="remove"><span><input name="product[images_attributes][0][_destroy]" type="hidden" value="0"><input type="checkbox" value="1" name="product[images_attributes][0][_destroy]" id="product_images_attributes_0__destroy"></span> <span>削除する</span> </label></div>
          <input
            type="hidden" value="5" name="product[images_attributes][0][id]" id="product_images_attributes_0_id"></div>
      </div>
      </div>
    </fieldset>
    <% end %>

    <hr>
    <div class="panel panel-danger">
      <div class="panel-heading" data-target="#comable-danger" data-toggle="collapse" type="button"><strong><span class="fa fa-angle-down"></span> 削除する</strong></div>
      <div class="collapse" id="comable-danger">
        <div class="panel-body">
          <p>この操作は元に戻せません。商品を削除してもよろしいですか？</p><a class="btn btn-danger" rel="nofollow" data-method="delete" href="/admin/products/4">削除する</a></div>
      </div>
    </div>
    </div>
    </div>
    </main>
    <footer>
      <ul class="list-inline">
        <li>elecoma</li>
        <li><a href="https://github.com/appirits/elecoma">GitHub</a></li>
        <li><a href="https://github.com/appirits/elecoma#ライセンス">License</a></li>
      </ul>
    </footer>
    </div>
  </main>
  </div>
  <ul class="ui-autocomplete ui-front ui-menu ui-widget ui-widget-content tagit-autocomplete" id="ui-id-1" tabindex="0" style="display: none;"></ul><span role="status" aria-live="assertive" aria-relevant="additions" class="ui-helper-hidden-accessible"></span></body>