
<%= nested_form_for(@order, url:users_orders_path(@order.id)) do |f| %>

<div id="wrap">
    <main class="container">
      <div id="wrap">
        <h2>注文内容を確認</h2>
        <hr class="line-bg">
        <table class="cart">
          <tbody>
            <tr>
              <th>商品画像</th>
              <th>品番・品名・詳細</th>
              <th>数量</th>
              <th>単価（税込）</th>
              <th>小計</th>
              <th>削除</th>
            </tr>
            <% sum = 0 %>
            <% @user.cart_items.each do |cart_item| %>
            <%= f.fields_for :order_items do |f| %>
            
            <%= f.hidden_field :item_id, value: cart_item.item_id, required: true %>
            <%= f.hidden_field :sheet, value: cart_item.sheet, required: true %>
            <%= f.hidden_field :price, value: cart_item.item.price, required: true %>
            <tr>
              <td class="center">
                <%= link_to users_item_path(cart_item.item.id) do %>
                <%= attachment_image_tag cart_item.item, :jacket_image, :fill, 100, 100, format: 'jpeg', fallback:"no_image.jpg" %>
                <% end %>
              </td>
              <td>
                <div class="code">
                  <%= cart_item.item.id %>
                </div>
                <div class="name">
                  <%= cart_item.item.product_name %>
                </div>
                <div class="caption">
                  <%= cart_item.item.artist.artist_name %>
                </div>
              </td>
              <td class="center">
                <%= cart_item.sheet %>
              </td>
              <td class="right">
                <%= cart_item.item.price %>円
              </td>
              <% sub_total = cart_item.item.price.to_i * cart_item.sheet.to_i %>
              <% sum += sub_total %>
              <td class="right">
                <%= sub_total %>
              </td>
              <td class="center">
                <%= link_to "delete", users_cart_path(cart_item), method: :delete %>
              </td>
            </tr>
            <% end %>

            <% end %>
            <tr>
              <td>合計</td>
              <td class="right" colspan="5"><%= sum %>円</td>
              <%= f.hidden_field :total_price, :value => sum %>
            </tr>
            <tr>
              <% shipping_fee = 500 %>
              <td>送料</td>
              <td class="right" colspan="5"><%= shipping_fee %></td>
              <%= f.hidden_field :shipping_fee, :value => shipping_fee %>
            </tr>
            <tr>
              <td>総額</td>
              <% amount = sum.to_i + 500 %>
              <td class="right" colspan="5"><%= amount %>円</td>
              <%= f.hidden_field :amount, :value => amount %>
            </tr>
          </tbody>
          </table>


          <p class="title">注文者情報</p>
          <div class="box">
            <table class="nonmember-ordre">
              <tbody>
                <tr></tr>
                <tr>
                  <th>姓</th>
                  <td><%= f.text_field :family_name, value: @user.family_name, required: true %></td>
                </tr>
                <tr>
                  <th>名</th>
                  <td><%= f.text_field :first_name, value: @user.first_name, required: true %></td>
                </tr>
                <tr>
                  <th>配送先住所</th>
                  <td><%= f.select :address, @user.addresses.all.map{|t| [t.address]} %><br>
                    <%= link_to "住所追加",new_users_address_path,class: "col-lg-3 btn btn-default" %>
                  
                  </td>
                </tr>
                <tr>
                  <th>電話番号</th>
                  <td><%= f.text_field :phone_number, value: @user.addresses.first.phone_number, required: true %></td>
                </tr>
              </tbody>
            </table>
          </div>


          <p class="title">決済方法等</p>
          <div class="box">
            <p><span><%= f.select :payment_method, Order.payment_methods.keys.to_a, {} %></span></p>
          </div>
          <p class="title">配送方法</p>
          <div class="box">
            <p><span>クロネコ</span></p>
          </div>
          <div class="btn-inner">
              <%= f.submit "この内容で注文する", class:"btn" %><% end %>
          </div>
      </div>
    </main>
  </div>
