<% if flash[:notice] %>
  <div id="gritter-notice-wrapper">
    <div id="gritter-item-1" class="gritter-item-wrapper">
      <div class="gritter-item gritter-css3">
        <div class="gritter-close" style="display: none;"></div><img src="/assets/1249.png" class="gritter-image">
        <div class="gritter-with-image">
          <span class="gritter-title">Notification</span>
          <p><%= flash[:notice] %></p></div>
          <div style="clear:both"></div></div></div></div><% end %>


<div id="wrap">
    <main class="container">
      <div id="main">
        <ul class="breadcrumb">
          <li><a href="/users/items">商品一覧</a></li>
        </ul>
        <hr class="line-bg">
        <p class="result">商品数：<%= @items.count %></p>
        <div class="search">
        <%= form_tag users_items_path, :method => 'get' do %>
          <p><%= text_field_tag :search, params[:search] %>
             <%= submit_tag "Search", :product_name => nil %></p>
        <% end %>
        </div>
        <div id="per_page">
        <p class="cate"><%= paginate @items %></p>
        </div>
        <div class="product col-sm-10">
          <ul class="product">
            <% @items.each do |item| %>
            <li class="col-sm-4"><%= link_to users_item_path(item.id), class: "thumbnail" do %><%= attachment_image_tag item, :jacket_image, :fill, 100, 100, format: 'jpeg', fallback:"no_image.jpg" %><% end %>
              <div
                class="name"><%= link_to users_item_path(item.id) do %><%= item.product_name %><% end %></div>
              <div
                class="name"><% if item.artist.present? %><%= item.artist.artist_name %><% end %></div>
        <div class="price">税込: <%= number_with_delimiter(item.price_with_tax.to_s) %>円</div>
        <% if item.stock_quantity == 0 %><font color="red"><h4><売り切れ></h4></font><% end %>
        </li>
        <% end %>
  </ul>
  </div>
  </div>
  </main>
  </div>

<script>
  $(function(){
  setTimeout("$('.gritter-item').fadeOut('slow')", 3000)
})
</script>