  <div id="wrap">
    <main class="container">
      <div id="main">
        <ul class="breadcrumb">
          <li><a href="/users/items">商品一覧</a></li>
        </ul>
        <hr class="line-bg">
        <p class="result">商品数：<%= @items.count %></p>
        <div class="search">
        <%= form_tag users_items_path, :method => 'get' do %>
          <p><%= text_field_tag :search, params[:search] %>
             <%= submit_tag "Search", :product_name => nil %></p>
        <% end %>
        </div>
        <div id="per_page">
        <p class="cate"><%= paginate @items %></p>
        </div>
        <div class="product col-sm-10">
          <ul class="product">
            <% @items.each do |item| %>
            <li class="col-sm-4"><%= link_to users_item_path(item.id), class: "thumbnail" do %><%= attachment_image_tag item, :jacket_image, :fill, 100, 100, format: 'jpeg', fallback:"no_image.jpg" %><% end %>
              <div
                class="name"><%= link_to users_item_path(item.id) do %><%= item.product_name %><% end %></div>
              <div
                class="name"><% if item.artist.present? %><%= item.artist.artist_name %><% end %></div>
        <div class="price"><%= number_with_delimiter(item.price.to_s) %>円</div>
        <% if item.stock_quantity == 0 %><font color="red"><h4><売り切れ></h4></font><% end %>
        </li>
        <% end %>
  </ul>
  </div>
  </div>
  </main>
  </div>

