

  <div id="wrap">
    <main class="container">
      <div id="contents">
        <div id="main">
          <ul class="breadcrumb">
            <li><a href="/users/items">商品一覧</a></li>
            <li class="active"><span>&gt;　</span><%= @item.product_name %></li>
          </ul>
          <hr class="line-bg">
          <div id="ProductDetailArea">
            <div class="main-product">
              <div class="sample"><%= attachment_image_tag @item, :jacket_image, :fill, 150, 150, format: 'jpeg', fallback:"no_image.jpg" %></div>
              <ul class="stock">
                    <li class="ed"><div class="sold_out">この商品は現在<%= @cart_item.sheet %>枚カートに入っています。</div></li>
                    <% if @cart_item.sheet.present? %>
                    <%= form_for(@cart_item, url: users_cart_path(@cart_item)) do |f| %>
                    <li class="ed">
                    <p>在庫</p>
                    <p>（<%= @item.stock_quantity %>）</p>
                    <div class="add_cart form-inline form-group">
                    <% if user_signed_in? %>
                    <%= f.hidden_field :user_id, value: current_user.id %>
                    <%= f.hidden_field :item_id, value: @item.id %>
                    <%= f.number_field :sheet, in:1..10 %>
                    <%= f.submit "数量を変更する" %>
                    <% else %>
                    <%= link_to "カートに入れる", new_user_session_path %>
                    <% end %>
                    </div>
                    </li>
                    <% end %>
              </ul>
            </div>
                    <% else %>
                    <%= form_for(@cart_item, url: users_carts_path) do |f| %>
                    <li class="ed">
                    <p>在庫</p>
                    <p class="dara">（<%= @item.stock_quantity %>）</p>
                    <div class="add_cart form-inline form-group">

                    <% if user_signed_in? %>
                    <%= f.hidden_field :user_id, value: current_user.id %>
                    <%= f.hidden_field :item_id, value: @item.id %>
                    <%= f.number_field :sheet, in:1..10 %>
                    <%= f.submit "カートに入れる" %>
                    <% else %>
                    <%= link_to "カートに入れる", new_user_session_path %>
                    <% end %>
                    </div>
                    </li>
                    <% end %>
              </ul>
            </div>
                 <% end %>


            <!--詳細側-->
            <div class="main-detail">
              <p class="lot-number">商品番号：<%= @item.id %></p>
              <h1><%= @item.product_name %></h1>
              <h1><% if @item.artist.present? %><%= @item.artist.artist_name %><% end %></h1>
              <p class="price"><%= @item.price %>円</p>
            </div>
            <div class="introduction">
              アーティスト：<% if @item.artist.present? %><%= @item.artist.artist_name %><% end %><br><br>
              ジャンル：<% if @item.genre.present? %><%= @item.genre.genre_name %><% end %><br><br>
              レーベル：<% if @item.label.present? %><%= @item.label.label_name %><% end %><br><br>
              <% sum = 1 %><% @item.discs.each do |discs| %>
              ディスク<%= sum %><br><% summer = 1 %><% discs.songs.each do |songs| %><%= summer %>． <%= songs.song_name %><% summer += 1 %><br><% end %><% sum += 1 %><br><% end %>
            </div>
            <hr class="dod">
          </div>

        </div>
      </div>
    </main>
  </div>
