<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <nav class="nav navbar-nav navbar-left">
      <font color="#f5f5f5"><span>ECL</span></font>
    </nav>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <% if user_signed_in? %>
          <li>
            <%= link_to "ECL", top_path, class: "glyphicon glyphicon-home" %>
          </li>
          <li>
            <%= link_to "Items", users_items_path, class: "glyphicon glyphicon-music" %>
          </li>
          <li>
            <%= link_to "My page", users_user_path(current_user), class: "glyphicon glyphicon-user" %>
          </li>
          <li>
            <%= link_to "Cart", users_carts_path, class: "glyphicon glyphicon-shopping-cart" %>
          </li>
          <li>
            <%= link_to "Logout", destroy_user_session_path, class: "glyphicon glyphicon-log-out", method: :delete %>
          </li>
          <li>
            <font color="#f5f5f5">ようこそ<%= current_user.family_name %><%= current_user.first_name %>さん</font>
          </li>

        <% else %>
          <li>
            <%= link_to "ECL", top_path, class: "glyphicon glyphicon-home" %>
          </li>
          <li>
            <%= link_to 'Items', users_items_path, class: "glyphicon glyphicon-music" %>
          </li>
          <li>
            <%= link_to "Sign up", new_user_registration_path, class: "glyphicon glyphicon-edit" %>
          </li>
          <li>
            <%= link_to "Login", new_user_session_path, class: "glyphicon glyphicon-log-in" %>
          </li>
          <li>
            <font color="#f5f5f5"> ようこそ　ゲスト さん</font>
          </li>
        <% end %>
      </ul>
    </nav>
  </div>
</header>
