<div class="body">
	<div class="container">
		<div class="row">
			<div class="col-lg-6 col-lg-offset-3">
				<h2>ECL</h2>
			  <tbody>

			  	<thead>ユーザー情報編集</thead>

				<%= form_for @user,:url => {:action => :update} do |f| %>
				<table>
				<tr>
				<div class="form-group has-icon">
					  <%= f.label :family_name, "姓" %><br>
					  <%= f.text_field :family_name, class: "family_name", autofocus: true, autocomplete: "family_name" %>
				</div>
				  <div>
				  	  <%= f.label :first_name, "名" %><br>
				  	  <%= f.text_field :first_name, class: "first_name", autocomplete: "first_name" %>
				  </div>
			    </tr>
			    <tr>
			    	<div>
			    	  <%= f.label :kana_family_name, "セイ" %><br>
			    	  <%= f.text_field :kana_family_name, class: "kana_family_name", autocomplete: "kana_family_name" %>
			        </div>
			        <div>
			          <%= f.label :kana_first_name, "メイ" %><br>
			          <%= f.text_field :kana_first_name, class: "kana_first_name", autocomplete: "kana_first_name" %>
			        </div>
			    </tr>
			    <tr>
			    	<div>
			    		<%= f.label "登録済み住所" %><br>
			    		<%= link_to "住所の編集と削除",edit_users_address_path,class: "col-lg-3 btn btn-default" %><br>
			    		<br>
			    		<div>
			    			<% @user.addresses.each do |address| %>
			    			<%= address.post_number %><br>
			    			<%= address.address %><br><br><br>
			    			<% end %>
		    			</div>
		    		</div>
			    </tr>
			    <tr>
			    	<div>
			    		<%= f.label :phene_number, "電話番号（ハイフンなし）" %><br>
			    		<%= f.text_field :phone_number, class: "phone_number", autocomplete: "phone_number" %>
			    	</div>
			    </tr>
			    <tr>
			    	<div>
			    		<%= f.label :email, "メールアドレス" %><br>
			    		<%= f.email_field :email, class: "email", autocomplete: "email" %>
			    	</div>
			    </tr>
			         <div class="actions">
			         	<%= f.submit "編集する" %>
			         </div>
				<% end %>
				<%= link_to "退会させる", users_user_path(@user), method: :delete, class:"btn btn-danger" %>
			</table>
			  </tbody>
			</div>
		</div>
</div>