<div class="container">
  <div class="row">
    <div class="col-xs-12">
    <h2>Users</h2>
      <div id="nav-search">
        <%= form_tag '/', :method => 'get' do %>
            <p class="text-right">
                <%= text_field_tag :search, params[:search] %>
                <%= submit_tag "検索", :family_name  => nil %>
            </p>
        <% end %>
      </div>
    </div>

    <div class="col-xs-12">
      <table class="table table-striped">
        <thead>
         <tr>
          <th>User id</th>
          <th>Name</th>
          <th>E-mail</th>
          <th></th>
         <tr>
        </thead>
        <% @user.each do |user| %>
        <tbody>
          <tr>
            <td><%= user.id %></td>
            <td><%= user.family_name %><%= user.first_name %></td>
            <td><%= user.email %></td>
          </tr>
        </tbody>
        <% end %>
      </table>
     <%= paginate @user %>
    </div>
  </div>
</div>