<div class="container">

    <div class="row">

      <div class="col-lg-3">
        <table class="table table-stryped">
          <thead>
             <h2>User info</h2>
          </thead>

            <tbody>
            <tr>
              <td><%= @user.kana_family_name %></td>
              <td><%= @user.kana_first_name %></td>
            </tr>
            <tr>
              <td><%= @user.family_name %></td>
              <td><%= @user.first_name %></td>
            </tr>
            <tr>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td><% @user.addresses.each do |address| %></td>
              <td><% address.address %></td>
              <% end %>
            </tr>
            <tr>
              <td><%= @user.phone_number %></td>
              <td></td>
            </tr>
            <tr>
              <td><%= @user.email %></td>
              <td></td>
            </tr>
            <tr>
              <td><%= link_to "編集",edit_admins_user_path(@user.id),class: "col-lg-6 btn btn-default" %></td>
              <td>
                 <%= form_for(@user,:url => {:action => :update}) do |f| %>
                <%= f.select :is_deleted, User.is_deleteds.keys.to_a, {} %>
                  <%= f.submit '退会する' %>
                  <% end %>
              </td>
            </tr>
           </tbody>
        </table>


      </div>
      <div class="col-lg-9">
        <table class="table table-stryped">
          <thead>
            <h2>受注履歴</h2>
          </thead>

          <tbody>

            <% @orders.each do |order| %>

            <tr>
              <th>
                <%= order[:created_at].strftime("%Y-%m-%d　%H:%M")  %>
              </th>
              <th>
                <%#<%= order.select :delivery_status, Order.delivery_status.keys.to_a,{} %>
              </th>
            </tr>
            <tr>
              <td>
               住所<br>
                <%= order.address %>
              </td>
              <td>
                支払い:<%= order.payment_method %><br>
　　　　　　　　　　合計金額:<%= order.total_price %>￥<br>
                別途送料:<%= order.shipping_fee %>￥
              </td>
            </tr>
            <tr>
              <td>
                <% order.order_items.each do |order_item| %>
                <%= order_item.id %>
              </td>
               <td>
                <%= order_item.price %>×<%= order_item.sheet %>=<%= order_item.price*order_item.sheet %>(税込)
              </td>
            </tr>
            <% end %>
           <% end %>
            <%= paginate @orders %>
          </tbody>
        </table>
      </div>
    </div>
  </div>



