<div class='container'>
  <div class='row'>
  	<h2>注文管理/</h2><%= @order.id %><%=@order.created_at %>
    <%= form_for(@order) do |f| %>
      <%= f.select :delivery_status, Order.delivery_statuses.keys.to_a,{} %>
    <% end %>

    <div class='col-xs-12'>
       <table class='table table-striped'>
          <thead>
            <tr>
              <th></th>
              <th>商品名</th>
              <th>アーティスト名</th>
              <th>価格</th>
              <th>個数</th>
              <th>小計</th>
            </tr>
          </thead>
          <tbody>
　　　　　　　<% @order_items.each do |order_item| %>
              <tr>
	              <td><%= attachment_image_tag @order, :jacket_image,size: '100x100', fallback: "no_image.jpg" %></td>
                <td><%= oreder_item.item.product_name %></td>
                <td><%= oreder_item.item.artist.artist_name %></td>
                <td><%= oreder_item.price %></td>
                <td><%= oreder_item.sheet %></td>
                <td><%= oreder_item.price * oreder_item.sheet %></td>
            </tr>
          </tbody>
        </table>
    </div>
    <div class='col-xs-12'>
     <hr>
     <b class="text-right"><dl class="dl-horizontal"><dt>商品合計</dt><dd>4000円</dd></dl></b>
     <hr>
     <b class="text-right"><dl class="dl-horizontal"><dt>送料</dt><dd>500円</dd></dl></b>
     <hr>
     <b class="text-right"><dl class="dl-horizontal"><dt>合計</dt><dd>4500円</dd></dl></b>
     <hr>
    </div>
  </div>
  <div class='row'>
    <div class='col-xs-12'>
      <hr>
      <h3>ユーザー情報</h3>
      <hr>
      <p>〒<%= @user.address.post_number %></p>
      <p><%= @user.address.address %></p>
      <br>
      <p>赤坂 太郎</p>
      <p>shirley_amiami@gmail</p>
      <hr>
    </div>
  </div>
  <div class='row'>
    <div class='col-xs-12'>
      <hr>
      <h3>配送先</h3>
      <hr>
      <p>〒 171-2233</p>
      <p>東京都港区六本木4丁目-3100</p>
      <br>
      <p>赤坂 一</p>
      <p>クレジットカード</p>
      <hr>
</div>
