<div class='container'>
  <div class='row'>
  	<h2>注文管理</h2>
    <%=@order.created_at %>
    <h3><%= @order.delivery_status %></h3>
    <%= form_for(@order, url: admins_order_path) do |f| %>
      <%= f.select :delivery_status, Order.delivery_statuses.keys.to_a,{} %>
      <%= f.submit '配送ステータス変更' %>
    <% end %>

    <div class='col-xs-12'>
       <table class='table table-striped'>
          <thead>
            <tr>
              <th></th>
              <th>商品名</th>
              <th>アーティスト名</th>
              <th>価格</th>
              <th>個数</th>
              <th>小計</th>
            </tr>
          </thead>
          <tbody>
　　　　　　　<% @order_items.each do |order_item| %>
              <tr>
	              <td><%= attachment_image_tag @item, :jacket_image,size: '100x100', fallback: "no_image.jpg" %></td>
                <td><%= order_item.item.product_name %></td>
                <td><%= order_item.item.artist.artist_name %></td>
                <td><%= order_item.price.to_i %>円</td>
                <td><%= order_item.sheet %></td>
                <td><%= order_item.subtotal.to_i %>円</td>
              </tr>
            <% end %>
          </tbody>
        </table>
    </div>
    <div class='col-xs-12'>
     <hr>
     <b class="text-right"><dl class="dl-horizontal"><dt>商品合計</dt><dd><%= @order.total_price.to_i %>円</dd></dl></b>
     <hr>
     <b class="text-right"><dl class="dl-horizontal"><dt>送料</dt><dd>500円</dd></dl></b>
     <hr>
     <b class="text-right"><dl class="dl-horizontal"><dt>合計</dt><dd><%= @order.amount.to_i %>円</dd></dl></b>
     <hr>
    </div>
  </div>
  <div class='row'>
    <div class='col-xs-12'>
      <hr>
      <h3>ユーザー情報</h3>
      <hr>
      <p>〒<%= @user.addresses.first.post_number.to_s %></p>
      <p><%= @user.addresses.first.address %></p>
      <br>
      <p><%= @user.addresses.first.family_name %><%= @user.addresses.first.first_name %></p>
      <p><%= @user.email %></p>
      <hr>
    </div>
  </div>
  <div class='row'>
    <div class='col-xs-12'>
      <hr>
      <h3>配送先</h3>
      <hr>
      <p>〒<%= @order.post_number %></p>
      <p><%= @order.address %></p>
      <br>
      <p><%= @order.name %></p>
      <p><%= @order.payment_method %></p>
      <hr>
    </div>
  </div>
</div>
