


<div class="container">
  <div class="row">
    <div class="col-xs-12">
　<h2>住所の編集</h2>
    <% @address.each do |address| %>
    <div class="form-group">
    <%= form_for(address, url: users_addresses_path) do |f| %>
  <table>
    <tr>
      <th>氏名</th>
      <td>
        <%= f.text_field :family_name %>
      </td>
      <td>
        <%= f.text_field :first_name %>
      </td>
    </tr>
    <tr>
      <th>フリガナ</th>
      <td>
        <%= f.text_field :kana_family_name %>
      </td>
      <td>
        <%= f.text_field :kana_first_name %>
      </td>
    </tr>
    <tr>
      <th>郵便番号</th>
      <td>
        <%= f.text_field :post_number %>
      </td>
    </tr>
    <tr>
      <th>住所</th>
      <td>
        <%= f.text_field :address %>
      </td>
    </tr>
    <tr>
      <th>電話番号</th>
      <td>
        <%= f.text_field :phone_number %>
      </td>
    </tr>
    <tr>
      <td></td>
      <td>
      <%= f.submit '変更確認' %>
      </td>
      <td>
        <%= link_to "削除",edit_users_user_path(current_user),class: "col-lg-6 btn btn-danger", data: {:confirm => '本当に消しますか？'}, method: :delete %>
      </td>
    </tr>
  </table>
  <% end %>
</div>
    <% end %>
</div>
</div>
</div>
