<h1>Users::Addresses#edit</h1>
<p>Find me in app/views/users/addresses/edit.html.erb</p>



<div class="container">
　<h2>配送先編集</h2>
  <table>
    <%= form_for(@address) do |f| %>
    <tr>
      <h4>氏名</h4>
      <th><%= @address.family_name %></th>
      <td><%= f.text_field :family_name %></td>
      <th><%= @address.first_name %></th>
      <td><%= f.text_field :first_name %></td>
    </tr>
    <tr>
      <h4>フリガナ</h4>
      <th><%= @address.kana_family_name %></th>
      <td><%= f.text_field :kana_family_name %></td>
      <th><%= @address.kana_first_name %></th>
      <td><%= f.text_field :kana_first_name %></td>
    </tr>
    <tr>
      <h4>郵便番号</h4>
      <th><%= @address.post_number %></th>
      <td><%= f.text_field :post_number %></td>
    </tr>
    <tr>
      <h4>住所1</h4>
      <th><%= @address.address %></th><br>
      <td><%= f.text_field :address %></td>
    </tr>
    <tr>
      <h4>電話番号</h4>
      <th><%= @address.phone_number %></th>
      <td><%= f.text_field :phone_number %></td>
    </tr>
    <tr>
      <%= f.submit '編集' %>
    </tr>
    <% end %>
  </table>
</div>